<!-- menu de navegación -->
<nav class="navbar navbar-expand-lg bg-primary" th:fragment="menu">
    <div class="container-fluid">
        <img src="img/logo35.jpg" alt="Logo" width="40" height="36" class="d-inline-block align-text-top"
            style="margin-right: 3px; border-radius: 20px;">
        <a class="navbar-brand text-info" href="./">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="herramientas">Herramientas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="socios">Socios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="prestamos">Préstamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="configuracion">Configuración</a>
                </li>
            </ul>

            <!-- reloj -->
            <div id="contReloj">
                <p id="pHoras"></p>
                <p>:</p>
                <p id="pMinutos"></p>
                <p>:</p>
                <p id="pSegundos"></p>
            </div>

            <!-- Botón de busqueda -->
            <form class="d-flex" role="search" method='GET'>
                <input class="form-control me-2" type="search" name="buscar" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success text-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!-- Fin Menú de navegación -->